<p id="notice"><%= notice %></p>

<p>
  <strong>Tittle:</strong>
  <%= @image.tittle %>
</p>

<p>
  <strong>Description:</strong>
  <%= @image.description %>
</p>

<p>
  <strong>Private:</strong>
  <%= @image.private %>
</p>

<p>
  <strong>Filesize:</strong>
  <% @image.filesize %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
